# Comments And Basic Data Types

In [1]:
# this is comment

In [2]:
print("Hello")   #this is also a comment

Hello

# The following are all integers

In [5]:
print(5)
print(19)
print(-56)
print(78)

5
19
-56
78

# The following are all floating data types

In [6]:
print(5.7)
print(4.0)
print(7.0989)

5.7
4.0
7.0989

# The following are all boolean data types

In [7]:
print(True)
print(False)

True
False

# the following are string data types

In [8]:
print("")
print("Python is Awesome")
print("True")
print('5')

Python is Awesome
True
5

# Monday Exercise-Output Your Name

In [9]:
print("Francis Ngigi")

Francis Ngigi

In [10]:
#check type of data type
type(int)

type

# Variable

In [11]:
num1, num2 = 5, 90
print(num1, num2)

5 90

In [12]:
switch = True
print(switch)

True

In [13]:
name = "Francis Ngigi"
print(name)

Francis Ngigi

In [14]:
result = num1 + num2
print(result)

95

In [15]:
result *= num2
print(result)

8550

# Working with strings

In [17]:
f_name = "Francis"
l_name = "Ngigi"
name = f_name + " " + l_name
print(name)

Francis Ngigi

String Formatting

In [18]:
print("Hello {}".format(f_name))

Hello Francis

In [19]:
age = 21
print(f"Hello {f_name} you are {age} years old")

Hello Francis you are 21 years old

String Indexing

In [22]:
word = "Hello"
print(word[0])
print(word[1])
print(word[2])
print(word[3])
print(word[-1])

H
e
l
l
o

String slicing

In [31]:
print(word[0 : 5 : 2])

Hlo

In [30]:
print(f_name[0 : 5: 2])

Fac

# Manipulating Strings

In [32]:
name1 = "francis"
print(name1.title())

Francis

In [33]:
print(name1.replace('a',''))

frncis

In [36]:
print(name1.replace('n','b'))

frabcis

In [37]:
print(name1.find('ci'))

4

In [38]:
name2 = " Franco "
print(name2.strip())

Franco

In [39]:
print(name1.strip())

francis

In [40]:
s = "Today is a chilly day"
print(s.split(" "))

['Today', 'is', 'a', 'chilly', 'day']