In [1]:
nums = [1, 2, 3, 4, 4, 5]
print(nums)

[1, 2, 3, 4, 4, 5]

Accessing elements in a LIst

In [6]:
num1 = nums[-1]
num = nums[0]
print(num1, num)

5 1

# Declaring elements of Mixed Data Types

In [8]:
data = [12, "Francis", True]
print(data)

[12, 'Francis', True]

# Lists Within Lists

In [9]:
data = [12, "Python", [12, 45, "Ngigi"], True]
print(data)
print(data[2])

[12, 'Python', [12, 45, 'Ngigi'], True]
[12, 45, 'Ngigi']

# Accessing Lists Within Lists

In [10]:
print(data[2][2])

Ngigi

# Changing Data within a list

In [11]:
data[2][2] = "Francis"
print(data)

[12, 'Python', [12, 45, 'Francis'], True]

# Variable Storage

In [12]:
a = [1, 2, 3]
print(id(a))

74484112

In [13]:
b = a 
print(f"a: {a}, b: {b}")
print(f"The location of a: {id(a)} and b: {id(b)}")
a[0] = 50
print(f"a: {a}, b: {b}")

a: [1, 2, 3], b: [1, 2, 3]
The location of a: 74484112 and b: 74484112
a: [50, 2, 3], b: [50, 2, 3]

# Copying a list

In [14]:
data_copy = data[ : ]
data[0] = 100
print(f"a: {data} and data_copy: {data_copy}")

a: [100, 'Python', [12, 45, 'Francis'], True] and data_copy: [12, 'Python', [12, 45, 'Francis'], True]

# Monday Exercise

In [17]:
sports = ["badminton", "football", "basketball"]
print(f"I love to play {sports}")

I love to play ['badminton', 'football', 'basketball']

In [21]:
names = ["Jay", "Francis", "Ngigi"]
print([i[0]for i in names])

['J', 'F', 'N']

# For Loops

In [22]:
for num in range(5):
    print(f"{num}")

0
1
2
3
4

In [23]:
name = "Francis"
for n in name:
    print(f"{n}")

F
r
a
n
c
i
s

In [29]:
for n in range(5):
    if n == 0:
        continue
    print(n)

1
2
3
4

# Numbers Divisible by 3 from 1 to 100

In [3]:
for i in range(100):
    if i % 3 == 0:
        print(i)
    continue

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

# All Vowels in a user input

In [8]:
word = input("Input a word to find vowels: ")
vowels = 'aeiouAEIOU'
for i in word:
    if i in vowels:
        print(i)

Input a word to find vowels: francis
a
i

# While Loop

In [1]:
health = 10
while health > 0:
    print(health)
    health -= 1

10
9
8
7
6
5
4
3
2
1

# Wednesday Ex1: While loop until user types "quit"

In [8]:
user_input = input("Input a word: ").lower()
while user_input != 'quit':
    user_input = input("Input another word: ").lower()
    continue
print("You got it right!!!!!!")

Input a word: ghdstyfghsda
Input another word: gfgvgascfvgfas
Input another word: fvasgfgftgsda
Input another word: quit
You got it right!!!!!!

# Wednesday Ex2: Double Loop

In [11]:
game_over = False
while game_over == False:
    for i in range(5):
        print(i)
        if i == 2:
            game_over = True
            break

0
1
2

# Thursday-Working With Lists

In [13]:
# Checking Length
nums = [3, 4, 67, 5625, "Francis"]
print(len(nums))

5

In [19]:
# Slicing Lists- start:stop:step
print(nums[:2])
print(nums[:-1])
print(nums[0:])
print(nums[::2])
print(nums[::-1])

[3, 4]
[3, 4, 67, 5625]
[3, 4, 67, 5625, 'Francis']
[3, 67, 'Francis']
['Francis', 5625, 67, 4, 3]

In [20]:
# Adding Items-Using .append()
num2 = [5, 7]
num2.append(45)
print(num2)

[5, 7, 45]

In [21]:
# Adding items: Using .insert(index, value)
num2 = ["Football", "Basketball", "Tennis"]
num2.insert(0, "Badminton")
print(num2)

['Badminton', 'Football', 'Basketball', 'Tennis']

In [24]:
# Removing Items-pop()
removed_item = nums.pop(0)
print(removed_item)

3

In [38]:
#Removing using remove()-remove specific item
sports = ["Football", "Basketball", "Tennis"]
try:
    sports.remove("Football")
    print("Successfully Deleted")
except:
    print("The item you are trying to remove does not exist")
print("Sports Available: ")
for i in sports:
    print(f"-{i}")

Successfully Deleted
Sports Available:
-Basketball
-Tennis

In [39]:
# Working with Numerical List Data
num3 = [1, 2, 4, 6, 8]
print(max(num3))
print(min(num3))
print(sum(num3))

8
1
21

In [42]:
# Sorting a List: sorted()
num4 = [5, 6, 2, 4, 7, 1]
num4_sorted = sorted(num4)
print(f"Initially: {num4}, After: {num4_sorted}")

Initially: [5, 6, 2, 4, 7, 1], After: [1, 2, 4, 5, 6, 7]

In [45]:
# Sorting a List: sort()
num5 = num4[ : ]
num5.sort()
print(num5)

[1, 2, 4, 5, 6, 7]

In [46]:
# Conditionals and Lists: 
sport = ["Football", "Basketball", "Badminton", "Volleyball"]
if "Table Tennis" in sport:
    print("found")
else:
    print("not found")
if "Badminton" not in sport:
    print("Not Found")
else:
    print("Found")

not found
Found

In [48]:
# Checking an empty list
num6 = []
if nums:
    print("empty")

empty

In [49]:
# Loops and Lists
for i in sport:
    print(i)

Football
Basketball
Badminton
Volleyball

In [50]:
names = ["Bob", "Frank", "Bob", "Ngigi", "Bob"]
while "Bob" in names:
    names.remove("Bob")
print(names)

['Frank', 'Ngigi']

# Thursday Ex1: Removing duplicates in lists

In [51]:
names = ['Bob', 'Kenny', 'Amanda', 'Bob', 'Kenny']
names = list(dict.fromkeys(names))
print(names)

['Bob', 'Kenny', 'Amanda']

# Thursday Ex2:

In [56]:
words = []
word = "quit"
userIn = input("Enter a word").lower()
words.append(userIn)
while userIn != word:
    userIn = input("Enter Another Word: ").lower()
    words.append(userIn)
    continue
for i in words:
    print(i)

Enter a wordhi
Enter Another Word: francis
Enter Another Word: ngigi
Enter Another Word: quit
hi
francis
ngigi
quit